<?xml version="1.0"?>
<model>
  <name>wl_sonar_3d</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Akira Techapattaraporn</name>
    <email>akira.techap@gmail.com</email>
  </author>

  <description>
    Water Linked 3D Sonar sensor model.
    Exported from Fusion 360 for underwater robotics simulation.
  </description>
</model>
