<?xml version="1.0"?>
<model>
  <name>wl_tank</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Akira Techapattaraporn</name>
    <email>akira.techap@gmail.com</email>
  </author>

  <description>
    A 2m circular tank model.
  </description>
</model>