<?xml version="1.0" encoding="UTF-8"?>
<model>
  <name>Gazebo Rig</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Akira</name>
    <email>akira.techap@gmail.com</email>
  </author>
  <description>Blender-exported CAD rig used as a 3D sonar target.</description>
</model>
